<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>querySelect() 함수 배우기</title>
</head>
<body>
	<<ul id="menuList">
         <li>김밥</li>
         <li>라면</li>
         <li>떡볶이</li>
    </ul>
    <br><br> 
    <div class="container">
	    <p>자손 요소입니다.</p>
	</div>
	 <br>
	 <button type="button" id="myButton">Click</button>
	 <br>
 	 <ul id="itemList"></ul>
	 <!-- <button type="button" onclick="alert('Hello World!')">클릭해 보세요!</button> -->
     <!-- <script src="js/querySelector.js"></script>  -->
     <script src="js/querySelector.js"></script>
</div>
</body>
</html>