<!DOCTYPE html>
<html lang="ko">
<!-- HTML 문서의 내용 -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="TAERRY">
  <title>Member List</title>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" th:src="@{/js/pdata.js}"></script>
</head>
<body>
  <div class="container">
	<div class="table-responsive">
		<h2 style="text-align:center; padding-top:40px">JSON Data List</h2>
		<br>
		
		<table class="table table-striped" id="member_table">
			<thead>
				<tr>
					<th>No</th>
					<th>관할 경찰서</th>
					<th>다발지역 위치</th>
					<th>사망자수</th>
					<th>중상자수</th>
					<th>경상자수</th>
				</tr>
			</thead>
			<!-- JS에서 처리하여 데이터를 뿌려주게 함 -->
			<tbody>
			</tbody>
		</table>
	</div>
  </div>
</body>	
</html>