<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="aside">
    <aside class="side-container">  
      <div class="vertical-menu ">                   
        <button type="button" class="btn btn-success w-100 text-start"><span class="fa fa-home"></span> Home</button>
        <hr>
        <a href="movies"><i class="fas fa-arrow-alt-circle-right"></i><span>&nbsp; Movie</span></a>
        <a href="#"><i class=" fas fa-user-circle"></i><span>&nbsp; User</span></a>       
      </div>       
    </aside>
  </th:block>
</html>